body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #3b43ac; 
}

header {
    background: #6f45b3;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li button {
    background: none;
    border: 2px solid #030813;
    color: #130d0d;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li button:hover {
    background-color: #aa1a1a;
    color: #000000;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.profile-image {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.profile-image img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #333;
    box-shadow: 0 4px 8px rgba(4, 132, 42, 0.2);
}
.experience-image {
    width: 50%; 
    max-width: 300px; 
    height: auto;
    border-radius: 10px; 
    border: 3px solid #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: block;
    margin: 10px auto; 
}
.project-image {
    width: 60%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width */
    height: auto;
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #333; /* Border style */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow */
    display: block;
    margin: 10px auto; /* Center the image with margin */
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}